<div class="modal modal-blur fade" 
      id="alert-sequence" 
      tabindex="-1" 
      style="display: none;" 
      aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered justify-content-center" 
        role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">
              <span>
                  <i class='fa fa-exclamation-circle mr-2'
                     aria-hidden="true"
                     style='color: var(--indigo)'></i>
              </span>
                No matches in prokaryotic genomes
            </h5>
          </div>
          <div class="modal-body">
            <p>We are unable to find any matches in prokaryotic genomes for
            the input sequence.</p>
          </div>
        </div>
    </div>
</div>
