{% load static %} <!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link rel="icon" href="{% static "gecoviz/img/gecoviz.png" %}">
        <title>GeCoViz</title>
        <link rel="preconnect" href="https://fonts.gstatic.gmgc/com/" crossorigin>
        <meta name="msapplication-TileColor" content="#206bc4" />
        <meta name="theme-color" content="#8490d7" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="mobile-web-app-capable" content="yes" />
        <meta name="HandheldFriendly" content="True" />
        <meta name="MobileOptimized" content="320" />
        <meta name="robots" content="noindex,nofollow,noarchive" />

        <!-- CSS files -->
        <link href='https://fonts.googleapis.com/css?family=Sarina' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Sansita' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Fugaz One' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Akronim' rel='stylesheet'>
        <script src="https://kit.fontawesome.com/4072499970.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" 
            href="{% static "gecoviz/assets/tabler/css/tabler-vendors.min.css" %}"/>
        <link href="{% static "gecoviz/css/theme.css" %}" rel="stylesheet" />
        <style type="text/css" media="screen">
          .gecoviz-title {
            color: #8490d7;
            font-style: normal;
            font-weight: bold;
          }
        </style>

        {% block styles %}
        {% endblock %}

        <style type="text/css" media="screen">
            body { display: none; }
        </style>

    </head>
    <body class="antialiased">
        <div class="page">
            <div class="content p-0">
                <div class="container-fluid p-0" id="GeCoVizApp"
                    style="background:#f4f6fa;">
                    {% include "gecoviz/navbar.html" %}
                        {% block content %}
                        {% endblock %}
                </div>
                {% include "gecoviz/spinner.html"%}
                {% include "gecoviz/alert.html"%}
                {% include "gecoviz/footer.html" %}
            </div>
        </div>
        <!-- Libs JS -->
        <script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>
        <script src="https://d3js.org/d3.v6.min.js"></script>
        <script src="{% static "gecoviz/assets/tabler/js/apexcharts.min.js" %}"></script>

        <script src="{% static "gecoviz/assets/jquery/jquery.min.js" %}"></script>
        <script src="{% static "gecoviz/assets/tabler/js/bootstrap.bundle.min.js" %}"></script>
        <script src="{% static "gecoviz/assets/tabler/js/tabler.min.js" %}"></script>
        <script src="{% static "gecoviz/assets/vue/vue.min.js" %}"></script>

        {% block scripts %}
        {% endblock %}
        <script charset="utf-8">
            window.onload = () => {
                document.body.style.display = "block";
            }
        </script>
    </body>
</html>
