{% load static %} <!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link rel="icon" href="{% static "gecoviz/img/gecoviz.png" %}">
        <title>GeCoViz</title>
        <link rel="preconnect" href="https://fonts.gstatic.gmgc/com/" crossorigin>
        <meta name="msapplication-TileColor" content="#206bc4" />
        <meta name="theme-color" content="#8490d7" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="mobile-web-app-capable" content="yes" />
        <meta name="HandheldFriendly" content="True" />
        <meta name="MobileOptimized" content="320" />
        <meta name="robots" content="noindex,nofollow,noarchive" />
        <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">

        <!-- CSS files -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <script src="https://kit.fontawesome.com/4072499970.js" crossorigin="anonymous"></script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-D5H3MSYTKN"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'G-D5H3MSYTKN');
        </script>
        <link rel="stylesheet" type="text/css" 
            href="{% static "gecoviz/assets/tabler/css/tabler-vendors.min.css" %}"/>
        <link href="{% static "gecoviz/css/theme.css" %}" rel="stylesheet" />
        <style type="text/css" media="screen">
          .gecoviz-title {
            color: #8490d7;
            font-style: normal;
            font-weight: 900;
          }

          #popperContainer .popper-arrow::before {
              border-color: transparent transparent lightgray lightgray !important;
          }
        </style>

        {% block styles %}
        {% endblock %}

        <style type="text/css" media="screen">
            body { display: none; }
        </style>

    </head>
    <body class="antialiased">
        <div class="page">
            <div class="content p-0">
                <div class="container-fluid p-0" id="GeCoVizApp"
                    style="background:white;">
                    {% include "gecoviz/navbar.html" %}
                        {% block content %}
                        {% endblock %}
                </div>
                {% include "gecoviz/spinner.html"%}
                {% include "gecoviz/alert.html"%}
                {% include "gecoviz/alert_sequence.html"%}
                {% include "gecoviz/welcome_modal.html" %}
                {% include "gecoviz/cookies.html" %}
                {% include "gecoviz/gdpr_policy.html" %}
                {% include "gecoviz/footer.html" %}
            </div>
        </div>
        <!-- Libs JS -->
        <script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>
        <script src="https://d3js.org/d3.v6.min.js"></script>
        <script src="https://unpkg.com/@popperjs/core@2"></script>
        <script src="{% static "gecoviz/assets/tabler/js/apexcharts.min.js" %}"></script>
        <script src="{% static "gecoviz/assets/jquery/jquery.min.js" %}"></script>
        <script src="{% static "gecoviz/assets/tabler/js/bootstrap.bundle.min.js" %}"></script>
        <script src="{% static "gecoviz/assets/tabler/js/tabler.min.js" %}"></script>
        <script src="{% static "gecoviz/assets/vue/vue.min.js" %}"></script>

        <script src="{% static "gecoviz/assets/tabler/js/nouislider.min.js" %}"></script>
        <script src="{% static "gecoviz/assets/filesaver/FileSaver.min.js" %}"></script>
        <script src="{% static "gecoviz/js/SeqSunburst.js" %}"></script>
        <script src="{% static "gecoviz/js/gecoviz.js" %}"></script>
        <script src="{% static "gecoviz/js/kos.js" %}"></script>
        <script src="{% static "gecoviz/js/vueapp.js" %}"></script>

        <script charset="utf-8">
            window.onload = () => {
                document.body.style.display = "block";
            }

            document.addEventListener("DOMContentLoaded", () => {
                if ("{{ request.path }}" === "/help/")
                    dismissWelcome();
                else
                    setTimeout(welcomeModal, 1000);
            })
        </script>
    </body>
</html>
