<!-- BEGIN: Banner for cookies/gdpr policy -->
{% if not request.COOKIES.cookies_consent %}
<div id="cookie_directive_container" class="cookies-toast card"
    style="
        position: sticky !important;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
        align-items: center;
        justify-content: center;
        max-width: 600px;
        z-index: 10;
        transition: opacity 0.5s, display 0.5s;">
    <div class="card-body">
        <div>
            <span><b class="color-indigo">GeCoViz</b>
                is an online tool that allows users to remain anonymous.
                This website uses cookies and Google Analytics in order
                to improve performance. 
                <br>
                <b>No personal information is stored</b>
            </span>
            <br>
            <span>By clicking on the button bellow, you are agreeing to these
                terms. For a more detailed version please visit our
                <a data-toggle="modal" data-target="#gdpr-policy">
                    data privacy policy
                </a>
            </span>
        </div>
        <div class="w-100 text-center">
            <button type="button" 
                class="btn btn-sm btn-primary font-weight-bold acceptcookies mt-2"
                id="acceptcookies"
                onclick="acceptCookies()">
            I agree, dismiss banner
            </button>
        </div>
    </div>
</div>
{% endif %}
<!-- END: banner gdpr policy -->
