<div class="modal modal-blur fade" id="gdpr-policy" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered justify-content-center" 
        role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title">GeCoViz Data Protection</h2>
        </div>
    <div class="modal-body">
        <div class="m-portlet__body" style="text-align:left;">
            <div>
	      This Privacy Notice explains what personal data is collected by the
          GeCoViz service you are requesting, for what purposes, how it is processed, and how we keep it secure.
            </div>

	    <div>
	      <h4>
		1. Who controls your personal data and how to contact us?
	      </h4>
	      The data controllers contact details are the following and should be used only for data protection queries:
              <div>
		Jaime Huerta Cepas (GeCoViz Development Director)
                <pre>
		  huerta.jaime@inia.es 
		</pre>
              </div>	      
	    </div>
        <div>
            <h4>
          3. How will your personal data be used?
            </h4>
            We will use the personal data to:
            <ul><div class="field field-name-field-gdpr-data-purposes field-type-list-text field-label-hidden">
            <div class="field-items">
              <div class="field-item even">To provide the user access to the service</div>
              <div class="field-item odd">To check that the Terms of Use of the service are followed</div>
              <div class="field-item even">To better understand the needs of the users and guide future improvements of the service</div>
              <div class="field-item odd">To conduct and monitor data protection activities</div>
              <div class="field-item odd">To create anonymous usage statistics</div>
              <div class="field-item even">To conduct and monitor security activities</div>
            </div>
          </div>
            </ul>
            More specifically:
            <ul>
          <li>We use Google Analytics to compile web access and usage.</li>
          <li>We use user's emails to compile usage statistics.</li>
          <li>We compute user's number of sequences and residues uploaded to compile usage statistics.</li>
                </ul>
          </div>
  
          
          <div>
            <h4>4. Who will have access to your personal data?</h4>
            <p>The personal data will be disclosed to: </p>
            <ul><li>Authorised GeCoViz staff.</li>
          <li>Service providers which GeCoViz relies on to provide the service. </li>
            </ul>
          </div>
          
          <div>
            <h4>5. Will your personal data be transferred to third countries (i.e. countries not part of EU/EAA) and/or international organisations?</h4>
            
            <style>
              div.dp-org {margin-bottom: 1rem;}	  
              .dp-org p, .dp-org span {margin: 0; padding: 0;}
              .dp-org .org-name, .dp-org .org-address {margin-left: 1rem; font-style: italic;}
            </style>
            <div class="dp-org">
          <p>Personal data is transferred to the following service provider
          based in a third country which GeCoViz relies on to provide the service: </p>
          <div class="org-name">
            <div class="field field-name-field-gdpr-org-name field-type-text field-label-hidden">
              <div class="field-items">
                <div class="field-item even">Google Analytics</div>
              </div>
            </div>
          </div>
          <div class="org-address">
            <div class="field field-name-field-gdpr-org-contact-address field-type-addressfield field-label-hidden">
              <div class="field-items">
                <div class="field-item even">
              <div class="street-block">
                <div class="thoroughfare">Google LLC</div>
                <div class="premise">1600 Amphitheatre Parkway</div>
              </div>
              <div class="addressfield-container-inline locality-block country-US"><span class="locality">Mountain View</span>, <span class="state">CA</span> <span class="postal-code">94043</span></div>
              <p><span class="country">United States</span></p></div>
              </div>
            </div>
          </div>
            </div>
            <p>There are no personal data transfers to international organisations.</p>
          </div>
          
          <div>
            <h4>6. How long do we keep your personal data?</h4>
            <p>Any personal data directly obtained from you will be retained as long as the service is live, even if you stop using the service. We will keep the personal data for the minimum amount of time possible to ensure legal compliance and to facilitate internal and external audits if they arise. </p>
          </div>
          
          <div>
            <h4>7. Your rights regarding your personal data</h4>
            <p>You have the right to:</p>
            <ol><li>Not be subject to decisions based solely on an automated processing of data (i.e. without human intervention) without you having your views taken into consideration.</li>
          <li>Request at reasonable intervals and without excessive delay or expense, information about the personal data processed about you. Under your request we will inform you in writing about, for example, the origin of the personal data or the preservation period.</li>
          <li>Request information to understand data processing activities when the results of these activities are applied to you.</li>
          <li>Object at any time to the processing of your personal data unless we can demonstrate that we have legitimate reasons to process your personal data.</li>
          <li>Request free of charge and without excessive delay rectification or erasure of your personal data if we have not been processing it respecting the CBGP Internal Policy for Data Protection.</li>
            </ol><p>It must be clarified that rights 4 and 5 are only available whenever the processing of your personal data is not necessary to:</p>
            <ol type="i">
          <li>Comply with a legal obligation.</li>
          <li>Perform a task carried out in the public interest.</li>
          <li>Exercise authority as a data controller.</li>
          <li>Archive for purposes in the public interest, or for historical research purposes, or for statistical purposes.</li>
          <li>Establish, exercise or defend legal claims.</li>
            </ol>
          </div>
            <a href="http://compgenomics.org" target='_blank'><img src='/static/dist/img/cbgp_logo.png' style='height:60px;padding:5px;'></a>
            <a href="http://www.cbgp.upm.es/index.php/en/" target='_blank'><img src='/static/dist/img/inia.gif' style='height:60px;padding:5px;'></a>
            <a href="http://www.cbgp.upm.es/index.php/en/" target='_blank'><img src='/static/dist/img/upm.png' style='height:60px;padding:5px;'></a>
            <a href="http://www.denbi.de" target='_blank'><img src="/static/dist/img/denbi.jpg"></a>
        </div>
    </div>
    </div>
    </div>
</div>
