{% extends 'gecoviz/base.html' %}
{% load static %}
{% block content %}

<div class="container-xxl" style="max-width:100%;">

    <ul>
        <li v-for="ko in kos">
            <ul v-if="ko.children.length">
                <li v-for="c in ko.children">
                    hi
                </li>

                
            </ul>
        </li>
    </ul>

   <h2 class="accordion-header" id="step2-header">
       <button class="accordion-button collapsed"
           @click="toggleSunburstSelector()">
        <div class="badge bg-indigo mr-2" 
             style="font-family:'Impact'; font-size:1.1rem">2</div>
        Select a maximum of 250 genomes
       </button>
   </h2>
</div>

{% endblock %}
