{% extends 'gecoviz/base.html' %}
{% load static %}
{% block content %}

<div class="container-xxl" style="max-width:100%;">

    <ul>
        <li v-for="first in kos">
            <ul v-if="first.children.length">
                <li v-for="second in first.children">
                    [[ second.name ]]
                </li>
            </ul>
        </li>
    </ul>

</div>

{% endblock %}
{% block scripts %}
    <script src="{% static "gecoviz/js/kos.js" %}"></script>
    <script src="{% static "gecoviz/js/vueapp.js" %}"></script>
{% endblock %}
