{% extends 'gecoviz/base.html' %}
{% load static %}
{% block content %}

<div class="container-xxl" style="max-width:100%;"
    :style="{ 'display': allItems.length && contextData.context.length ? 'block' : 'none' }">
    {% include "gecoviz/search.html" %}
</div>

<div v-if="!allItems.length" 
    class="container-xxl justify-content-center" style="max-width:100%;">
    
{% comment %}        <div class="card mx-auto" style="max-width:900px">{% endcomment %}
            {% comment %}<div class="card-header">{% endcomment %}
                {% comment %}<div class="h3 m-0" style="color: #212b36 !important">{% endcomment %}
                    {% comment %}Dear <b class="color-indigo">GeCoViz</b> users{% endcomment %}
                {% comment %}</div>{% endcomment %}
            {% comment %}</div>{% endcomment %}
            {% comment %}<div class="card-body">{% endcomment %}
                {% comment %}The node in which our database dwells is currently down. Our{% endcomment %}
                {% comment %}administrators are working to fix the problem.{% endcomment %}
                {% comment %}<br>{% endcomment %}
                {% comment %}We are deeply sorry for the inconvinience and hope to see you{% endcomment %}
                {% comment %}soon!{% endcomment %}
            {% comment %}</div>{% endcomment %}
        {% comment %}</div>{% endcomment %}

    {% include "gecoviz/kos.html" %}
    {% include "gecoviz/sequence_search.html" %}

    <a href="/help" target="_self">
        <div class="card mx-auto" style="max-width:900px">
            <div class="card-header">
                <div class="h3 m-0" style="color: #212b36 !important">
                    Have doubts? Go to our <b class="color-indigo">documentation</b>
                </div>
                <div class="ml-auto">
                    <i class="fas fa-arrow-right color-indigo"
                       style="font-size: 1.5rem"></i>
                </div>
            </div>
        </div>
    </a>

    <div class="card mx-auto" style="max-width:900px">
        <div class="card-header">
            <div class="h3 m-0 f-bold color-indigo">
                Citation
            </div>
        </div>
        <div class="card-body">
            <b>
            GeCoViz: genomic context visualisation of prokaryotic genes from a functional and evolutionary perspective
            </b>
            <i>
            Jorge Botas, Álvaro Rodríguez del Río, Joaquín Giner-Lamia, and Jaime Huerta-Cepas
            </i>
            <p>
            Nucleic Acids Research. 2022 <i>(in press)</i>
            </p>

        </div>
    </div>

</div>

{% endblock %}
