{% extends 'gecoviz/base.html' %}
{% load static %}
{% block content %}

<div class="container-xxl" style="max-width:100%;">
    <div id="form-accordion" class="accordion">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed"
                 @click="focusSearchbar()">
                <div class="badge bg-indigo mr-2" 
                     style="font-family:'Impact'; font-size:1.1rem">1</div>
                Query a gene of interest from the search bar
                </button>
            </h2>
{% comment %}            <div>{% endcomment %}
                {% comment %}<div class="row">{% endcomment %}
                    {% comment %}<div class="page-header">{% endcomment %}
                        {% comment %}<h3>Proizvodi</h3>{% endcomment %}

                    {% comment %}</div>{% endcomment %}
                    {% comment %}<div class="col-md-3">{% endcomment %}
                        {% comment %}<ul class="nav nav-stacked" id="accordion1">{% endcomment %}
                            {% comment %}<li class="panel"> <a data-toggle="collapse" data-parent="#accordion1" href="#firstLink">Test12</a>{% endcomment %}

                                {% comment %}<ul id="firstLink" class="collapse">{% endcomment %}
                                    {% comment %}<li>SubTest1</li>{% endcomment %}
                                    {% comment %}<li>SubTest1</li>{% endcomment %}
                                    {% comment %}<li>SubTest1</li>{% endcomment %}
                                {% comment %}</ul>{% endcomment %}
                            {% comment %}</li>{% endcomment %}
                            {% comment %}<li class="panel"> <a data-toggle="collapse" data-parent="#accordion1" href="#secondLink">Test2</a>{% endcomment %}

                                {% comment %}<ul id="secondLink" class="collapse">{% endcomment %}
                                    {% comment %}<li>SubTest2</li>{% endcomment %}
                                    {% comment %}<li>SubTest2</li>{% endcomment %}
                                    {% comment %}<li>SubTest2</li>{% endcomment %}
                                    {% comment %}<li>SubTest2</li>{% endcomment %}
                                {% comment %}</ul>{% endcomment %}
                            {% comment %}</li>{% endcomment %}
                            {% comment %}<li><a href="#">Test1</a>{% endcomment %}
                            {% comment %}</li>{% endcomment %}
                            {% comment %}<li><a href="#">Test1</a>{% endcomment %}
                            {% comment %}</li>{% endcomment %}
                        {% comment %}</ul>{% endcomment %}
                    {% comment %}</div>{% endcomment %}
                    {% comment %}<div class="col-md-9"></div>{% endcomment %}
                {% comment %}</div>{% endcomment %}

            {% comment %}</div>{% endcomment %}
        </div>
        <div class="accordion-item">
           <h2 class="accordion-header" id="step2-header">
               <button class="accordion-button collapsed"
                   @click="toggleSunburstSelector()">
                <div class="badge bg-indigo mr-2" 
                     style="font-family:'Impact'; font-size:1.1rem">2</div>
                Select a maximum of 250 genomes
                <div>
                    [[ selectedTaxa ]]
                </div>
               </button>
           </h2>
           <div id="sunburst-selector-container" 
               class="accordion-collapse collapse"
               aria-labelledby="step2-header" 
               data-bs-parent="#form-accordion">
               <div class="accordion-body">
                    <div class="mt-0 d-flex">
                        <div class="sunburst-selector w-50"
                             style="z-index: 1"></div>
                        <div class="w-50">
                            <div class="input-icon m-2" 
                                 style='min-width:250px; max-width: 500px;'>
                                <input type="text"
                                       class="form-control text-left"
                                       id="search-taxonomy"
                                       @keydown="updateSearch"
                                       placeholder="Search..."/>
                                <span class="input-icon-addon search-icon">
                                    <i class="fa fa-search"
                                       aria-hidden="true">
                                    </i>
                                </span>
                            </div>
                            <div class="card-header d-flex"
                                 style="min-height:70px; flex-wrap:wrap">
                                Total matches: [[ nMatches ]]<br>
                                Selected: [[ nSelected ]]
                                <button class="btn btn-clean ml-5"
                                     @click="deselectAll()"
                                     :disabled="nSelected < 1">
                                    Deselect all
                                </button>
                                <button class="btn btn-primary mx-2 my-1"
                                     @click="visualizeSelection()"
                                     :disabled="nSelected < 1">
                                    Visualize
                                    <i class="fas fa-chevron-right ml-3"></i>
                                </button>
                                <div id="add-button-container" class="ml-3"></div>
                            </div>
                            <div id="shown-items" class="d-flex" 
                                style="max-height:350px;
                                       overflow-y:scroll;
                                       flex-direction:column;">
                                <div v-for="sp in searchedItems" 
                                    class="w-100 d-flex text-align-left">
                                    <label class="form-selectgroup-item"
                                        style="margin: .2rem .5rem;">
                                        <input class="form-selectgroup-input"
                                               type="checkbox" 
                                               :value="sp.id"
                                               :checked="selectedItems.includes(sp.id)"
                                               @click="selectItem(sp.id)">
                                        <span class="form-selectgroup-label"
                                            style="font-size:.7rem; padding: .1rem .5rem">
                                            [[ sp.name ]] ([[ sp.value ]])</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
               </div>
           </div>
        </div> 

        <div class="accordion-item">
            <h2 class="accordion-header" id="step3-header">
                <button class="accordion-button collapsed"
                 @click="visualizeSelection()">
                <div class="badge bg-indigo mr-2" 
                     style="font-family:'Impact'; font-size:1.1rem">3</div>
                Visualize genomic context
                </button>
            </h2>
           <div id="visualization-container" 
               class="accordion-collapse collapse"
               aria-labelledby="step3-header" 
               data-bs-parent="#form-accordion">
               <div v-if="contextData.context">
                   Showing [[ nAnchors ]] context(s).
                    <button class="btn btn-sm btn-primary"
                        @click="downloadNeighborhood()">Download</button>
               </div>
               <div class="accordion-body" id="gecoviz-container"
                   style="width: 100%">
                       
               </div>
           </div>
        </div>

    </div>
</div>

{% endblock %}
{% block scripts %}
    <script src="{% static "gecoviz/assets/tabler/js/nouislider.min.js" %}"></script>
    <script src="{% static "gecoviz/assets/filesaver/FileSaver.min.js" %}"></script>
    <script src="{% static "gecoviz/js/SeqSunburst.js" %}"></script>
    <script src="{% static "gecoviz/js/gecoviz.js" %}"></script>
    <script src="{% static "gecoviz/js/vueapp.js" %}"></script>
{% endblock %}
