<div class="card mx-auto" style="max-width:900px">
    <div class="card-header h3">
        Browse the <a class="ml-2 f-bold color-indigo"
            href="https://www.genome.jp/kegg/ko.html" 
            target="_blank">KEGG Orthology hierarchy<title>The KEGG BRITE database is a
                collection of Brite hierarchy and table files for
                classification of various objects, including genes and
                proteins, chemical compounds and reactions, drugs and diseases, and
                organisms and viruses.</title>
        </a>

      <div class="input-icon ml-auto mt-2">
            <input type="text"
                   class="form-control text-left"
                   id="ko-search"
                   @keydown="updateKOSuggestions()"
                   @keypress.enter.prevent="updateKOSuggestions()"
                   placeholder="Search..."/>
            <ul class="dropdown-menu suggestion-menu" 
              role="menu" id="ko-suggestions"
              style="top: 100% !important"
              :style="{ 'visibility': suggestions.ko.length ? 'visible' : 'hidden' }">
              <li class="dropdown-item"
                  v-for="s in uniqueKOSuggestions"
                  @click="findKO(s)">
                  <b><b class="f-bold">[[ s.data.name ]]</b>
                  <br>
                  <b class="text-muted"
                      style="font-size:.6rem;
                      color: rgba(33, 43, 54, 0.5184) !important;">
                      [[ s.data.desc ]]
                  </b></b>
              </li>
            </ul>
            <span class="input-icon-addon search-icon">
                <i class="fa fa-search"
                   aria-hidden="true"
                   @click="searchQuery()">
                </i>
            </span>
      </div>

    </div>
    <div class="card-body pt-0">
        <ul>
            <li v-for="first in kos.children"
                :style="{ 'list-style': (first._show ? 'disclosure-open' : 'disclosure-closed') }">
                <a @click="showKO(first)">[[ first.data.name ]]</a>
                <ul v-if="first.children.length && first._show">
                    <li v-for="second in first.children"
                        :style="{ 'list-style': second._show ? 'disclosure-open' : 'disclosure-closed' }">
                        <a @click="showKO(second)">[[ second.data.name ]]</a>
                        <ul v-if="second.children.length && second._show">
                            <li v-for="third in second.children"
                                :style="{ 'list-style': third._show ? 'disclosure-open' : 'disclosure-closed' }">
                                <a @click="showKO(third)">[[ third.data.name ]]</a>
                                <ul v-if="third.children.length && third._show">
                                    <li v-for="fourth in third.children"
                                        :class="{ `${fourth.data.name}` : true,
                                                  'bg-yellow' : suggestions.ko.includes(fourth) }"
                                        style="list-style: circle; padding-left:5px;
                                               border-radius:5px; margin-top: 2px">
                                        <a class="color-indigo f-bold mr-2"
                                           :href="'/?query=' + fourth.data.name + '&searchType=kos'">
                                            [[ fourth.data.name ]]
                                        </a> 
                                        <span class="badge bg-indigo f-bold mr-1" v-for="gene in fourth.data.geneNames">
                                            [[ gene ]]
                                        </span>
                                        [[ fourth.data.desc ]]
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    
</div>
