{% load static %}
  <header class="navbar navbar-expand-md navbar-dark d-print-none mb-3"
          style="z-index:100;">
      <div class="container-sm pl-4 justify-content-start" 
           style='min-width:100%'>
{% comment %}          <h1 class="navbar-brand navbar-brand-autodark{% endcomment %}
              {% comment %}d-none-navbar-horizontal my-auto d-none d-sm-block">{% endcomment %}
              {% comment %}<a href="/" target="_self">{% endcomment %}
                  {% comment %}<img src="{% static 'gecoviz/img/gecoviz.png' %}"{% endcomment %}
                  {% comment %}class="navbar-brand-image" {% endcomment %}
                  {% comment %}style="width:100px; height:auto; min-width:100px; padding-top:-3px;"/>{% endcomment %}
              {% comment %}</a>{% endcomment %}
          {% comment %}</h1>{% endcomment %}
          <a class="h1 ml-4 mr-6 mb-0 w-sm-100 text-center f-bold text-md-left"
              style="font-family:Chela One;font-size:2rem;color:inherit"
              href="/" target="_self">
            <em class="gecoviz-title">Ge</em>nomic 
            <em class="gecoviz-title">Co</em>ntext 
            <em class="gecoviz-title">Vis</em>ualizer
          </a>
          <div class="navbar-nav d-flex">
              <select name="search-type" id="search-type" data-type="select-one"
                  class="form-select form-control m-2"></select>
              <div class="input-icon m-2 ml-4" style='min-width:250px'>
                    <input type="text"
                           class="form-control text-left f-bold"
                           id="query-search"
                           @keydown="updateSuggestions()"
                           @keypress.enter.prevent="searchQuery()"
                           placeholder="Search..."/>
                    <ul class="dropdown-menu suggestion-menu" 
                      role="menu" id="query-suggestions"
                      style="top: 100% !important"
                      :style="{ 'visibility': suggestions.query.length ? 'visible' : 'hidden' }">
                      <li class="dropdown-item"
                          v-for="s in suggestions.query"
                          @click="searchQuery(undefined, s.id)">
                          <b><b class="f-bold">[[ s.id ]]</b>
                          <br>
                          <b class="text-muted"
                              style="font-size:.6rem;
                              color: rgba(33, 43, 54, 0.5184) !important;">
                              [[ s.desc ]]
                          </b></b>
                      </li>
                    </ul>
                    <span class="input-icon-addon search-icon">
                        <i class="fa fa-search"
                           aria-hidden="true"
                           @click="searchQuery()">
                        </i>
                    </span>
              </div>
              <div class="text-muted d-flex align-items-center">
                  Examples: <a 
                      @click="searchQuery('ogs', 'COG3516')"
                        class="mx-1 text-muted">1</a> <a
                      @click="searchQuery('kos', 'K02586')"
                        class="mx-1 text-muted">2</a><a 
                      @click="searchQuery('pname', 'COG3516')"
                        class="mx-1 text-muted">3</a><a 
                      @click="searchQuery('pfam', 'COG3516')"
                        class="mx-1 text-muted">4</a>
              </div>

          </div>

      </div>
  </header>
