{% load static %}
  <header class="navbar navbar-expand-md navbar-dark d-print-none mb-3 p-2"
          style="z-index:100;">
      <div class="container-sm pl-4 justify-content-center" 
           style='min-width:100%'>
          <h1 class="navbar-brand navbar-brand-autodark
              d-none-navbar-horizontal my-auto d-none d-sm-block">
              <a href="/" target="_self">
                  <img src="{% static 'gecoviz/img/gecoviz.png' %}"
                  class="navbar-brand-image" 
                  style="width:100px; height:auto; min-width:100px; padding-top:-3px;"/>
              </a>
          </h1>
          <h2 class="w-100 ml-4 mr-3 mt-2 mb-0 text-center text-md-left">
            <em class="gecoviz-title">Ge</em>nomic 
            <em class="gecoviz-title">Co</em>ntext 
            <em class="gecoviz-title">Viz</em>ualizer
          </h2>
          <div class="navbar-nav d-flex pt-2">
              <div class="input-icon w-100 m-2 mr-4" style='min-width:250px'>
                    <input type="text"
                           class="form-control text-left"
                           id="search-query"
                           @keydown="updateSuggestions()"
                           @keypress.enter.prevent="searchQuery()"
                           placeholder="Search..."/>
                    <ul class="dropdown-menu suggestion-menu" 
                      role="menu" id="search-suggestions"
                      style="top: 100% !important"
                      :style="{ 'visibility': suggestions.length ? 'visible' : 'hidden' }">
                      <li class="dropdown-item"
                          v-for="s in suggestions"
                          @click="searchQuery(undefined, s.id)">
                          <b><b class="f-bold">[[ s.id ]]</b>
                          <br>
                          <b class="text-muted"
                              style="font-size:.6rem;
                              color: rgba(33, 43, 54, 0.5184) !important;">
                              [[ s.desc ]]
                          </b></b>
                      </li>
                    </ul>
                    <span class="input-icon-addon search-icon">
                        <i class="fa fa-search"
                           aria-hidden="true"
                           @click="searchQuery()">
                        </i>
                    </span>
              </div>

              <div id="search-type"></div>

              {% comment %}<div id="search-type"{% endcomment %}
                   {% comment %}class="form-selectgroup dark-form-selectgroup"{% endcomment %}
                   {% comment %}style="min-width: 400px">{% endcomment %}
                  {% comment %}<label class="form-selectgroup-item my-2">{% endcomment %}
                      {% comment %}<input type="radio"{% endcomment %}
                             {% comment %}name="search-type" {% endcomment %}
                             {% comment %}value="kos" {% endcomment %}
                             {% comment %}@click="updateSuggestions"{% endcomment %}
                             {% comment %}class="form-selectgroup-input" {% endcomment %}
                             {% comment %}checked="">{% endcomment %}
                      {% comment %}<span class="form-selectgroup-label">{% endcomment %}
                          {% comment %}KEGG Orthology{% endcomment %}
                      {% comment %}</span>{% endcomment %}
                  {% comment %}</label>{% endcomment %}
                  {% comment %}<label class="form-selectgroup-item my-2">{% endcomment %}
                      {% comment %}<input type="radio"{% endcomment %}
                             {% comment %}name="search-type" {% endcomment %}
                             {% comment %}value="ogs" {% endcomment %}
                             {% comment %}@click="updateSuggestions"{% endcomment %}
                             {% comment %}class="form-selectgroup-input">{% endcomment %}
                      {% comment %}<span class="form-selectgroup-label">{% endcomment %}
                          {% comment %}eggNOG OG{% endcomment %}
                      {% comment %}</span>{% endcomment %}
                  {% comment %}</label>{% endcomment %}
                  {% comment %}<label class="form-selectgroup-item my-2">{% endcomment %}
                      {% comment %}<input type="radio"{% endcomment %}
                             {% comment %}name="search-type" {% endcomment %}
                             {% comment %}value="pname" {% endcomment %}
                             {% comment %}@click="updateSuggestions"{% endcomment %}
                             {% comment %}class="form-selectgroup-input">{% endcomment %}
                      {% comment %}<span class="form-selectgroup-label">{% endcomment %}
                          {% comment %}gene name{% endcomment %}
                      {% comment %}</span>{% endcomment %}
                  {% comment %}</label>{% endcomment %}
              {% comment %}</div>{% endcomment %}

          </div>
      </div>
  </header>
