<div class="ml-3 w-100 d-flex align-items-center"
     v-if="query.name"
     style="flex-wrap:wrap; max-width: calc(100% - 370px);">
    <div class="mx-1 badge bg-orange-lt f-bold d-inline"
        v-if="query"
        style="font-size:1.1rem; align-self:start;">
        [[ query.name ]]
    </div>
    <div class="d-inline ml-2" style="line-height:1.8rem">
        <div>
            [[ query.description ]].
        </div>
        <div class="d-flex align-items-center" style="flex-wrap:wrap">
             Found <span class="badge bg-green-lt mx-1"
                 style="font-size:.8rem">[[ nMatches ]] proteins
             </span> from <span class="badge bg-red-lt mx-1"
                 style="font-size:.8rem">[[ allItems.length ]] representative species</span>
        </div>

       <div class="d-flex align-items-center" style="flex-wrap:wrap"
           v-if="contextData.context && nAnchors && show ==='gecoviz'">

         Showing <span class="badge bg-green-lt mx-1"
             style="font-size:.8rem">[[ nAnchors ]] genes
         </span> from <span class="badge bg-red-lt mx-1"
             style="font-size:.8rem">[[ selectedTaxids.length ]] representative species</span>
         <span class="mx-1 d-flex align-items-center"
               v-if="sharedTaxa.length">belonging to <span class="badge bg-orange-lt mx-1"
             style="font-size:.8rem">[[ sharedTaxa | styleTaxa ]]</span></span>

           <!--Showing genomic context of <b class="f-bold mx-1">[[ nAnchors ]] representative genes</b> spanning-->
           <!--<span class="f-bold" v-for="(d, i) in selectedTaxa"-->
                <!--:class="{ 'ml-1': i == 0 }">-->
              <!--<span v-if="i != 0" class="colon mr-1">,</span>-->
              <!--[[ d.taxids.length ]] [[ d.rank ]]-->
            <!--</span> <span v-if="sharedTaxa" class="ml-1">belonging to <b-->
                    <!--class="f-bold mx-1">[[ sharedTaxa | styleTaxa ]]</b></span>-->
            <button class="btn btn-sm btn-primary ml-2 f-bold"
                @click="toggleSunburstSelector">Select custom genomes
                <i class="fas fa-chevron-right ml-2"></i>
            </button>
            <button class="btn-clean ml-2 d-inline" style="padding:0.125rem 0.5rem;"
                @click="downloadNeighborhood()">Download context data (tsv)</button>
       </div>
    </div>

</div>



<div class="container-xxl mt-3" style="max-width:100%;">

   <div id="sunburst-selector-container" 
        :style="{ 'display': show === 'sunburst' ? 'block' : 'none' }">
        <div class="mt-0"
            :style="{ 'visibility': allItems.length ? 'visible' : 'hidden' }">
            <div class="sunburst-searchbar mb-3 col-lg-6 col-sm-12">
                <div class="ml-auto pr-6" style='min-width:250px; max-width: 500px;'>
                    <label class="h6 text-muted f-bold ml-2">Search within Taxonomy Sunburst</label>
                    <div class="input-icon" 
                         style='min-width:250px; max-width: 500px;'>
                        <input type="text"
                               class="form-control text-left"
                               id="taxa-search"
                               @keydown="updateSearch"
                               placeholder="Search..."/>
                        <ul class="dropdown-menu suggestion-menu" 
                          role="menu" id="taxa-suggestions"
                          style="top: 100% !important"
                          :style="{ 'visibility': searchedTaxa.length ? 'visible' : 'hidden' }">
                          <li class="dropdown-item"
                              v-for="t in searchedTaxa"
                              @click="showTaxaPopup(t)">
                              <b><span class="badge f-bold mr-1"
                                      :class="taxBadgeColors[t.data.rank] || 'bg-indigo-lt'">
                                      [[ t.data.rank ]]
                                  </span>
                              <b class="f-bold">
                                  [[ t.data.tname ]]
                              </b></b>
                          </li>
                        </ul>
                        <span class="input-icon-addon search-icon">
                            <i class="fa fa-search"
                               aria-hidden="true">
                            </i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="sunburst-and-selection row mb-4 ml-1">
                <div class="sunburst-selector col-lg-6 col-sm-12"
                     style="z-index: 1">
                </div>
                <div class="col-lg-6 col-sm-12 sunburst-selection card">
                    <div class="card-header h3 bg-indigo-lt f-bold mx-auto">
                        Selected species ([[ nSelected ]] / 250) <button class="btn btn-clean d-inline"
                             @click="deselectAll()"
                             :disabled="nSelected < 1">
                            Deselect all
                        </button>
                    </div>
                    <div class="card-body">
                        <ul>
                            <li v-for="d in selectedTaxa"
                            class="w-100 text-align-left my-1"
                            style="overflow-y:visible">
                                <span class="badge f-bold mr-1"
                                    :class="taxBadgeColors[d.source.data.rank] || 'bg-indigo-lt'">
                                    [[ d.source.data.rank ]]
                                </span>
                                <a class="f-bold f-oblique" @click="sunBurst.highlightPath(d.source)">
                                    [[ d.source.data.tname ]] 
                                </a>
                                <div class="dropdown d-inline ml-1 mr-2">
                                    <a class="color-tomato f-bold dropdown-toggle no-after"
                                      style="font-size: .8rem;"
                                      data-toggle="dropdown"
                                      data-bs-auto-close="outside"
                                      role="button">
                                        [[ getNumberOfHits(d.taxids) ]] genes from [[
                                        d.taxids.length ]] [[ d.rank ]] <i class="fa fa-chevron-down"
                                            style="transform:translate(0,2px)"></i>
                                    </a>
                                    <ul class="dropdown-menu suggestion-menu" 
                                        :style="{ 'visibility':
                                                    Object.keys(d.source.descendantRanks).length ?
                                                    'visible' : 'hidden' }">
                                        <li class="dropdown-header pl-2 f-bold">
                                            Select representative genomes for:
                                        </li>
                                        <li class="dropdown-item"
                                            @click="selectTaxa(d.source, d.source.data.rank)">
                                            [[ d.source.data.tname ]] ([[ d.source.data.rank ]])
                                        </li>
                                        <li class="dropdown-item"
                                            :class="{ disabled : nSelected + getNumberOfHits([], d.source.data.lineage) > maxSelected }"
                                            @click="selectTaxa(d.source, '', true)">
                                            All genomes ([[ getNumberOfHits([], d.source.data.lineage) ]] genes)
                                        </li>
                                        <li v-for="(lineages, rank) in d.source.descendantRanks"
                                            class="dropdown-item"
                                            :class="{ disabled : nSelected + lineages.length > maxSelected }"
                                            @click="selectLineages(lineages, d.source, rank)">
                                            [[ lineages.length ]] [[ rank ]]
                                        </li>
                                    </ul>
                                </div>

                                <a class="ml-1" role="button"
                                    @click="deselectTaxa(d.source)">
                                    <i class="fas fa-times"
                                       style="transform:translate(0,2px)"></i>
                                </a>
                            </li>
                        </ul>
                        
                    </div>
                    <div class="btn btn-primary mx-2 mt-1 mb-3 f-bold d-inline"
                         @click="visualizeSelection()"
                         :disabled="nSelected < 1">
                        Visualize genomic context
                        <i class="fas fa-chevron-right ml-2"></i>
                    </div>
                    <!--<div class="card-header d-flex"-->
                         <!--style="min-height:70px; flex-wrap:wrap"> -->
                        <!--<b>Selected: [[ nSelected ]] genes from [[ selectedTaxids.length ]] genomes</b>-->
                        <!--<div class="w-100 mt-2">-->
                            <!--<button class="btn btn-clean d-inline"-->
                                 <!--@click="deselectAll()"-->
                                 <!--:disabled="nSelected < 1">-->
                                <!--Deselect all-->
                            <!--</button>-->
                            <!--<button class="btn btn-primary mx-2 my-1 f-bold d-inline"-->
                                 <!--@click="visualizeSelection()"-->
                                 <!--:disabled="nSelected < 1">-->
                                <!--Visualize genomic context-->
                                <!--<i class="fas fa-chevron-right ml-2"></i>-->
                            <!--</button>-->
                            <!--<div id="add-button-container" class="ml-3 d-inline">-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div id="shown-items" class="d-flex h-100" -->
                        <!--style="max-height:350px;-->
                               <!--overflow:visible;-->
                               <!--flex-direction:column;">-->
                        <!--<div v-for="d in selectedTaxa"-->
                            <!--class="w-100 text-align-left my-1"-->
                            <!--style="overflow-y:visible">-->
                            <!--<span class="badge f-bold mr-1"-->
                                <!--:class="taxBadgeColors[d.source.data.rank] || 'bg-indigo-lt'">-->
                                <!--[[ d.source.data.rank ]]-->
                            <!--</span>-->
                            <!--<a class="f-bold f-oblique" @click="sunBurst.highlightPath(d.source)">-->
                                <!--[[ d.source.data.tname ]] -->
                            <!--</a>-->
                            <!--<div class="dropdown d-inline ml-1 mr-2">-->
                                <!--<a class="color-tomato f-bold dropdown-toggle no-after"-->
                                  <!--style="font-size: .8rem;"-->
                                  <!--data-toggle="dropdown"-->
                                  <!--data-bs-auto-close="outside"-->
                                  <!--role="button">-->
                                    <!--[[ getNumberOfHits(d.taxids) ]] genes from [[-->
                                    <!--d.taxids.length ]] [[ d.rank ]] <i class="fa fa-chevron-down"-->
                                        <!--style="transform:translate(0,2px)"></i>-->
                                <!--</a>-->
                                <!--<ul class="dropdown-menu suggestion-menu" -->
                                    <!--:style="{ 'visibility':-->
                                                <!--Object.keys(d.source.descendantRanks).length ?-->
                                                <!--'visible' : 'hidden' }">-->
                                    <!--<li class="dropdown-header pl-2 f-bold">-->
                                        <!--Select representative genomes for:-->
                                    <!--</li>-->
                                    <!--<li class="dropdown-item"-->
                                        <!--@click="selectTaxa(d.source, d.source.data.rank)">-->
                                        <!--[[ d.source.data.tname ]] ([[ d.source.data.rank ]])-->
                                    <!--</li>-->
                                    <!--<li class="dropdown-item"-->
                                        <!--:class="{ disabled : nSelected + getNumberOfHits([], d.source.data.lineage) > maxSelected }"-->
                                        <!--@click="selectTaxa(d.source, '', true)">-->
                                        <!--All genomes ([[ getNumberOfHits([], d.source.data.lineage) ]] genes)-->
                                    <!--</li>-->
                                    <!--<li v-for="(lineages, rank) in d.source.descendantRanks"-->
                                        <!--class="dropdown-item"-->
                                        <!--:class="{ disabled : nSelected + lineages.length > maxSelected }"-->
                                        <!--@click="selectLineages(lineages, d.source, rank)">-->
                                        <!--[[ lineages.length ]] [[ rank ]]-->
                                    <!--</li>-->
                                <!--</ul>-->
                            <!--</div>-->

                            <!--<a class="ml-1" role="button"-->
                                <!--@click="deselectTaxa(d.source)">-->
                                <!--<i class="fas fa-times"-->
                                   <!--style="transform:translate(0,2px)"></i>-->
                            <!--</a>-->
                        <!--</div>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
        <div id="popperContainer"></div>
   </div>

   <div id="visualization-container"
        :style="{ 'display': show === 'gecoviz' && contextData.context.length ? 'block' : 'none'}">
       <div class="w-100" id="gecoviz-container"></div>
   </div>

</div>
