<ul class="nav nav-pills w-100 justify-content-end"
    style="position: absolute; right: 10px"
    :style="{ 'display': isScreenLarge ? 'none' : 'flex' }">
  <li class="nav-item" style="padding-top:0 !important">
    <a class="nav-link f-bold" 
       id="sunburst-navlink"
        @click="toggleSunburstSelector()">Taxonomy selector</a>
  </li>
  <li class="nav-item" style="padding-top:0 !important">
    <a class="nav-link f-bold" 
       id="gecoviz-navlink"
       :class="{ disabled : !selectedTaxids.length }"
        @click="visualizeSelection(false)">Genomic context</a>
  </li>
</ul>

<div class="ml-3 w-100 d-flex align-items-center"
     v-if="query.name"
     style="flex-wrap:wrap; max-width: calc(100% - 370px);">
    <div class="mx-1 badge bg-orange-lt f-bold"
        v-if="query"
        style="font-size:1.1rem">
        [[ query.name ]]
    </div>
    <div class="mx-1">
        [[ query.description ]].
    </div>
    <div class="ml-2 d-flex align-items-center" style="flex-wrap:wrap">
         Found <span class="badge bg-green-lt mx-1"
             style="font-size:.8rem">[[ nMatches ]] proteins
         </span> from <span class="badge bg-red-lt mx-1"
             style="font-size:.8rem">[[ allItems.length ]] representative species</span>
    </div>
</div>



<div class="container-xxl row mt-3" style="max-width:100%;">

   <div id="sunburst-selector-container" 
        :style="{ 'display': (isScreenLarge || show === 'sunburst') ? 'block' : 'none',
                  'width': isScreenLarge ? '40%' : '100%'  }">
        <div class="mt-0"
            :class="{ 'd-flex' : (!isScreenLarge || !(contextData.context && nAnchors)) }"
            :style="{ 'visibility': allItems.length ? 'visible' : 'hidden' }">
            <div class="sunburst-selector mb-4"
                 :class="{ 'w-100' : isScreenLarge, 'w-50' : !isScreenLarge }"
                 style="z-index: 1"></div>
            <div :class="{ 'w-100' : isScreenLarge, 'w-50' : !isScreenLarge }">
                <div class="input-icon m-2" 
                     style='min-width:250px; max-width: 500px;'>
                    <input type="text"
                           class="form-control text-left"
                           id="taxa-search"
                           @keydown="updateSearch"
                           placeholder="Search..."/>
                    <ul class="dropdown-menu suggestion-menu" 
                      role="menu" id="taxa-suggestions"
                      style="top: 100% !important"
                      :style="{ 'visibility': searchedTaxa.length ? 'visible' : 'hidden' }">
                      <li class="dropdown-item"
                          v-for="t in searchedTaxa"
                          @click="showTaxaPopup(t)">
                          <b><span class="badge f-bold mr-1"
                                  :class="taxBadgeColors[t.data.rank] || 'bg-indigo-lt'">
                                  [[ t.data.rank ]]
                              </span>
                          <b class="f-bold">
                              [[ t.data.tname ]]
                          </b></b>
                      </li>
                    </ul>
                    <span class="input-icon-addon search-icon">
                        <i class="fa fa-search"
                           aria-hidden="true">
                        </i>
                    </span>
                </div>
                <div class="card-header d-flex"
                     style="min-height:70px; flex-wrap:wrap"> 
                    <b>Selected: [[ nSelected ]] genes from [[ selectedTaxids.length ]] genomes</b>
                    <div class="w-100 mt-2">
                        <button class="btn btn-clean d-inline"
                             @click="deselectAll()"
                             :disabled="nSelected < 1">
                            Deselect all
                        </button>
                        <button class="btn btn-primary mx-2 my-1 f-bold d-inline"
                             @click="visualizeSelection()"
                             :disabled="nSelected < 1">
                            Visualize genomic context
                            <i class="fas fa-chevron-right ml-2"></i>
                        </button>
                        <div id="add-button-container" class="ml-3 d-inline">
                        </div>
                    </div>
                </div>
                <div id="shown-items" class="d-flex h-100" 
                    style="max-height:350px;
                           overflow:visible;
                           flex-direction:column;">
                    <div v-for="d in selectedTaxa"
                        class="w-100 text-align-left my-1"
                        style="overflow-y:visible">
                        <span class="badge f-bold mr-1"
                            :class="taxBadgeColors[d.source.data.rank] || 'bg-indigo-lt'">
                            [[ d.source.data.rank ]]
                        </span>
                        <a class="f-bold f-oblique" @click="sunBurst.highlightPath(d.source)">
                            [[ d.source.data.tname ]] 
                        </a>
                        <div class="dropdown d-inline ml-1 mr-2">
                            <a class="color-tomato f-bold dropdown-toggle no-after"
                              style="font-size: .8rem;"
                              data-toggle="dropdown"
                              data-bs-auto-close="outside"
                              role="button">
                                [[ getNumberOfHits(d.taxids) ]] genes from [[
                                d.taxids.length ]] [[ d.rank ]] <i class="fa fa-chevron-down"
                                    style="transform:translate(0,2px)"></i>
                            </a>
                            <ul class="dropdown-menu suggestion-menu" 
                                :style="{ 'visibility':
                                            Object.keys(d.source.descendantRanks).length ?
                                            'visible' : 'hidden' }">
                                <li class="dropdown-header pl-2 f-bold">
                                    Select representative genomes for:
                                </li>
                                <li class="dropdown-item"
                                    @click="selectTaxa(d.source, d.source.data.rank)">
                                    [[ d.source.data.tname ]] ([[ d.source.data.rank ]])
                                </li>
                                <li class="dropdown-item"
                                    :class="{ disabled : nSelected + getNumberOfHits([], d.source.data.lineage) > maxSelected }"
                                    @click="selectTaxa(d.source, '', true)">
                                    All genomes ([[ getNumberOfHits([], d.source.data.lineage) ]] genes)
                                </li>
                                <li v-for="(lineages, rank) in d.source.descendantRanks"
                                    class="dropdown-item"
                                    :class="{ disabled : nSelected + lineages.length > maxSelected }"
                                    @click="selectLineages(lineages, d.source, rank)">
                                    [[ lineages.length ]] [[ rank ]]
                                </li>
                            </ul>
                        </div>

                        <a class="ml-1" role="button"
                            @click="deselectTaxa(d.source)">
                            <i class="fas fa-times"
                               style="transform:translate(0,2px)"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div id="popperContainer"></div>
   </div>

   <div id="visualization-container"
        :style="{ 'display': (isScreenLarge || show === 'gecoviz') && contextData.context.length ? 'block' : 'none',
                  'width': isScreenLarge ? '60%' : '100%' }">
       <div class="d-flex align-items-center mb-3" style="flex-wrap:wrap"
           v-if="contextData.context && nAnchors">
           Showing genomic context of <b class="f-bold mx-1">[[ nAnchors ]] representative genes</b> spanning
           <span class="f-bold" v-for="(d, i) in selectedTaxa"
                :class="{ 'ml-1': i == 0 }">
              <span v-if="i != 0" class="colon mr-1">,</span>
              [[ d.taxids.length ]] [[ d.rank ]]
            </span> <span v-if="sharedTaxa">belonging to <b
                    class="f-bold mx-1">[[ sharedTaxa | styleTaxa ]]</b></span>
            <button class="btn btn-sm btn-primary ml-2 f-bold"
                v-if="!isScreenLarge"
                @click="toggleSunburstSelector">Select custom genomes
                <i class="fas fa-chevron-right ml-2"></i>
            </button>
            <button class="btn-clean ml-2 d-inline" style="padding:0.125rem 0.5rem;"
                @click="downloadNeighborhood()">Download context data (tsv)</button>
       </div>
       <div class="w-100" id="gecoviz-container"></div>
   </div>

</div>
