<div class="card mx-auto" style="max-width:900px">
    <div class="card-header h3">
       Enter protein sequence 
    </div>
    <div class="card-body d-flex justify-content-center flex-wrap">
        <div class="w-100">
            <textarea name="sequence" id="sequence_search" 
                class="form-control mx-auto"
                style="max-width:700px; height: 200px; 
                       border-radius:5px !important;">
            </textarea>
        </div>
        <button class="btn btn-primary bg-indigo-lt mt-3"
            :click="searchBySequence">
            Search context
        </button>
    </div>
</div>
