<ul class="dropdown-menu" 
    :style="{ 'visibility':
                Object.keys(t.descendantRanks).length ?
                'visible' : 'hidden' }">
    <li class="dropdown-header pl-2 f-bold">
        Select representative genomes for:
    </li>
    <li class="dropdown-item"
        @click="selectTaxa(t, t.data.rank)">
        <span class="badge f-bold mr-1"
            :class="taxBadgeColors[t.data.rank] || 'bg-indigo-lt'">
            [[ t.data.rank ]]
        </span>
        [[ t.data.tname ]]
    </li>
    <li class="dropdown-item"
        :class="{ disabled : nSelected + getNumberOfHits([], t.data.lineage) > maxSelected }"
        @click="selectTaxa(t, '', true)">
        All genomes ([[ getNumberOfHits([], t.data.lineage) ]] genes)
    </li>
    <li v-for="(lineages, rank) in t.descendantRanks"
        class="dropdown-item"
        :class="{ disabled : isDisabled(lineages) }"
        @click="selectLineages(lineages, t, rank)">
        [[ lineages.length ]] [[ rank ]]
    </li>
</ul>
